body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.input-row {
    margin: 10px;
}

input[type="text"] {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    text-align: center;
    font-size: 20px;
}

input[data-row-type="green"] {
    background-color: lightgreen;
}

input[data-row-type="purple"] {
    background-color: lightpink;
}

input[data-row-type="black"] {
    background-color: lightgray;
}

